@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body, html {
  height: 100vh;
}

.header-bg {
  color:black;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.ant-input-affix-wrapper {
  transition: none;
  padding: 0;
}

nav {
  color:black;
  background-color: white;
  border-radius: 20px;
  max-width: 202px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  display: flex;
}

nav li a{
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  text-align: center;
  width: 100%;
}

.dropdown-menu > button, .linkDropDown {
  display: block;
  color: black;
  margin: 5px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  transition: 0.2s;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > button:hover,
.dropdown-menu > a:hover {
  background: black;
  color: white;
}

.linkDropDown {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


